.bibtex-toggle {
  font-weight: bold;
  color: var(--text-color);
  text-decoration-line: underline;
  text-decoration-color: var(--links);
  cursor: pointer;
}

.hidden {
  display: none;
}

.poster-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15rem;
}

.poster-caption {
  font-weight: bold;
}

.poster-comments {
  font-style: italic;
  font-size: 0.6rem;
  opacity: 0.6;
  margin: auto
}

@media (max-width: 800px) {
  .poster-gallery {
    flex-direction: column;
    align-items: center;
  }

  .poster-container {
    align-items: center;
    margin-bottom: auto;
  }
}
