{% macro asset(page, ext) -%}
{% for asset in page.assets -%}
    {% if asset is ending_with(ext) -%}{{asset}}{% break -%}{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro ordinal_date(date) -%}
{%- set day = date | date(format="%-d") | int -%}
{%- if day % 100 >= 11 and day % 100 <= 13 -%}
    {%- set suffix = "th" -%}
{%- elif day % 10 == 1 -%}
    {%- set suffix = "st" -%}
{%- elif day % 10 == 2 -%}
    {%- set suffix = "nd" -%}
{%- elif day % 10 == 3 -%}
    {%- set suffix = "rd" -%}
{%- else -%}
    {%- set suffix = "th" -%}
{%- endif -%}
{{ day }}{{ suffix }} {{ date | date(format="%B %Y") }}
{%- endmacro %}

{% macro talk(page) -%}
<li>
    <div class="talk-date">{{ self::ordinal_date(date=page.date) }}</div>
    <span>{{ page.title }},</span>
    <a href="{{ page.extra.conference_url }}">{{ page.extra.conference }}</a>
    {% if page.extra.video %}
        <a href="{{ page.extra.video }}" target="_blank">[video]</a>
    {% endif %}
    {% if page.extra.slides is starting_with("https://") %}
        <a href="{{ page.extra.slides }}" target="_blank">[slides]</a>
    {% elif page.extra.slides is containing(".pdf") %}
        <a href="{{ self::asset(page=page, ext='pdf') }}" target="_blank">[slides]</a>
    {% endif %}
    {% if page.extra.ppt %}
        {% if page.extra.ppt is containing(".pptx") %}
            <a href="{{ self::asset(page=page, ext='pptx') }}" target="_blank">[presentation]</a>
        {% elif page.extra.ppt is containing(".odp") %}
            <a href="{{ self::asset(page=page, ext='odp') }}" target="_blank">[presentation]</a>
        {% endif %}
    {% endif %}
</li>
{%- endmacro %}

{% macro sanitize_latex_special_characters(value) -%}
    {{ value | replace(from="{", to="") | replace(from="}", to="") | replace(from="\", to="") }}
{% endmacro %}
