{% macro asset(page, ext) -%}
{% for asset in page.assets -%}
    {% if asset is ending_with(ext) -%}{{asset}}{% break -%}{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro talk(page) -%}
<li>
    <span>{{ page.title }},</span>
    <a href="{{ page.extra.conference_url }}">{{ page.extra.conference }}</a>
    {% if page.extra.video %}
        <a href="{{ page.extra.video }}" target="_blank">[video]</a>
    {% endif %}
    {% if page.extra.slides is starting_with("https://") %}
        <a href="{{ page.extra.slides }}" target="_blank">[slides]</a>
    {% elif page.extra.slides is containing(".pdf") %}
        <a href="{{ self::asset(page=page, ext='pdf') }}" target="_blank">[slides]</a>
    {% endif %}
    {% if page.extra.ppt %}
        {% if page.extra.ppt is containing(".pptx") %}
            <a href="{{ self::asset(page=page, ext='pptx') }}" target="_blank">[presentation]</a>
        {% elif page.extra.ppt is containing(".odp") %}
            <a href="{{ self::asset(page=page, ext='odp') }}" target="_blank">[presentation]</a>
        {% endif %}
    {% endif %}
</li>
{%- endmacro %}

{% macro sanitize_latex_special_characters(value) -%}
    {{ value | replace(from="{", to="") | replace(from="}", to="") | replace(from="\", to="") }}
{% endmacro %}
