{% extends "base.html" %}

{% block main_content %}

{{ page.content | safe }}

<div class="container max-w-3xl mx-auto px-4">
    <div class="font-sans py-8">
    </div>

    {% set publications_data = load_data(path="static/publications.json", required=false) %}
    {% if publications_data and publications_data | length > 0 %}
        {% set_global current_year = 0 %}
        {% for paper in publications_data %}
            {% set year = paper.year | default(value=0) %}
            {% if year != current_year %}
                {% if not loop.first %}
                    </ul>
                {% endif %}
                <h1>{{ year }}</h1>
                <ul>
                {% set_global current_year = year %}
            {% endif %}
            
            <li>
                <span>
                    <strong>
                        {% if paper.url %}
                            <a href="{{ paper.url }}" target="_blank">{{ paper.title }}</a>
                        {% else %}
                            {{ paper.title }}
                        {% endif %}
                    </strong>,
                    <span class="authors">
                        {% set author_list = paper.authors | split(pat=" and ") %}
                        {% set author_count = author_list | length %}
                        {% for author in author_list %}
                            {% set trimmed_author = author | trim %}
                            <!-- Highlight author if it is me -->
                            {% if trimmed_author == config.title %}
                                {% if loop.last and author_count > 1 %}
                                    and <span class="author highlight">{{ trimmed_author }}</span>
                                {% elif author_count > 1 %}
                                    <span class="author highlight">{{ trimmed_author }}</span>,
                                {% else %}
                                    <span class="author highlight">{{ trimmed_author }}</span>
                                {% endif %}
                            {% else %}
                                {% if loop.last and author_count > 1 %}
                                    and <span class="author">{{ trimmed_author }}</span>
                                {% elif author_count > 1 %}
                                    <span class="author">{{ trimmed_author }}</span>,
                                {% else %}
                                    <span class="author">{{ trimmed_author }}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </span>,
                    <i>In</i>
                    {% if paper.journal %}
                        {{ paper.journal }}
                    {% elif paper.venue %}
                        {{ paper.venue }}
                    {% endif %}
                    {% if paper.year %}
                        {{ paper.year }}
                    {% endif %}
                    
                    {% if paper.doi %}
                        <a href="https://doi.org/{{ paper.doi }}" target="_blank" class="clickable">[doi]</a>
                    {% endif %}
                    {% if paper.arxivId %}
                        <a href="https://arxiv.org/abs/{{ paper.arxivId }}" target="_blank" class="clickable">[arxiv]</a>
                    {% endif %}
                    {% if paper.bibtex %}
                        <input type="checkbox" id="bibtex-checkbox-{{ paper.paperId }}" class="bibtex-checkbox">
                        <label for="bibtex-checkbox-{{ paper.paperId }}" class="clickable bibtex-toggle">[bibtex]</label>
                        <pre id="bibtex-entry-{{ paper.paperId }}" class="bibtex-entry">{{ paper.bibtex }}</pre>
                    {% endif %}
                </span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No publications found.</p>
    {% endif %}
</div>

{% endblock main_content %}
