{% import "macros/common.html" as common %}

{% extends "base.html" %}

{% block main_content %}

    <h1>{{ section.title }}</h1>

    {% set today = now() | date(format="%Y-%m-%d") | date(format="%s") | int %}
    {% set_global upcoming = [] %}
    {% set_global past = [] %}
    {% for page in section.pages %}
        {% if page.date | date(format="%s") | int >= today %}
            {% set_global upcoming = upcoming | concat(with=page) %}
        {% else %}
            {% set_global past = past | concat(with=page) %}
        {% endif %}
    {% endfor %}

    {% if upcoming | length > 0 %}
    <h2>Upcoming</h2>
    <div>
        <ul>
            {% for page in upcoming | reverse %}
                {{ common::talk(page=page) }}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h2>Past</h2>
    <div>
        <ul>
            {% for page in past %}
                {{ common::talk(page=page) }}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
