name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: publish
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Initalize Zola
        run: |
          wget https://github.com/barnumbirr/zola-debian/releases/download/v0.19.2-1/zola_0.19.2-1_amd64_bookworm.deb
          sudo dpkg -i zola_0.19.2-1_amd64_bookworm.deb
          zola --version

      - name: Test
        run: zola check
    
      - name: Update master thesis
        env:
          GH_BRANCH: ${{ github.ref_name }}
        run: |
          curl -L 'https://kth.diva-portal.org/smash/export.jsf?format=csl_json&addFilename=true&aq=[[{%22freeText%22:%22Aman%20Sharma%22}]]&aqe=[]&aq2=[[{%22publicationTypeCode%22:[%22studentThesis%22]}]]&onlyFullText=false&noOfRows=50&sortOrder=dayCreated_desc&sortOrder2=dayCreated_desc' --globoff | \
          jq 'map({title, URL, year: .issued."date-parts".[].[0], author: [.author.[] | .given + " " + .family] | join(", ") })' > static/master-thesis.json
          if ! git diff --quiet -- static/master-thesis.json; then
            git config --local user.name "github-actions[bot]"
            git config --local user.email "github-actions[bot]@users.noreply.github.com"
            git add static/master-thesis.json
            git commit -m "Update master thesis"
            git push origin "HEAD:${GH_BRANCH}"
          else
            echo "No changes to master thesis data; skipping commit."
          fi
    
      - name: Build
        id: build
        run: zola build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: success()
        with:
          allow_empty_commit: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: publish
          publish_dir: ./docs
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
